{% extends 'base.html' %}
{% block content %}
<a href="{% url 'customer_list' %}">
    <i class="bi bi-arrow-left" style="color: #000;"></i>
</a>
<h2>Customer Management</h2>
<form method="GET" action="{% url 'customer_list' %}">
    <input type="text" name="search" placeholder="Search by name or phone..." value="{{ query }}">
    <button type="submit">
        <i class="bi bi-search" style="color: #000;"></i>
    </button>
</form>
<br>
<a href="{% url 'customer_create' %}">
    + Add New Customer
</a>
<br><br>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email|default:"-" }}</td>
            <td>
                <a href="{% url 'customer_detail' customer.pk %}">
                    <i class="bi bi-receipt" style="color: #000;"></i>
                </a> |

                <a href="{% url 'customer_update' customer.pk %}">
                    <i class="bi bi-pencil" style="color: #000;"></i>
                </a> |

                <form action="{% url 'customer_delete' customer.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; padding:0; cursor:pointer;">
                        <i class="bi bi-trash" style="color: #000;"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No customers found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
