{% extends 'base.html' %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Products</h1>
        <p>Browse and search available furniture</p>
    </div>
</div>

<form method="GET">
    
    <div class="search-bar">
        <input type="text" name="search" placeholder="Search by name, code or color..." value="{{ query }}">
        <button type="submit">Search</button>
    </div>

    <div class="filters">
        <select name="category">
            <option value="">All Categories</option>
            {% for cat in categories %}
            <option value="{{ cat.id }}" {% if selected_category == cat.id|stringformat:"s" %}selected{% endif %}>
                {{ cat.name }}
            </option>
            {% endfor %}
        </select>

        <select name="color">
            <option value="">All Colors</option>
            {% for color in colors %}
            <option value="{{ color }}" {% if selected_color == color %}selected{% endif %}>
                {{ color }}
            </option>
            {% endfor %}
        </select>

        <select name="stock">
            <option value="">All</option>
            <option value="available" {% if selected_stock == "available" %}selected{% endif %}>Available</option>
            <option value="out_of_stock" {% if selected_stock == "out_of_stock" %}selected{% endif %}>Out of Stock</option>
        </select>

        <button type="submit">Filter</button>
    </div>
</form>

<div class="product-list">
{% for product in products %}
<div class="product-card">

    <div class="product-img">
            <img src="{{ product.image.url }}" alt="{{ product.product.name }}">
    </div>

    <div class="product-info">
        <h3 class="product-name">{{ product.product.name }}</h3>
        <p class="product-variant">{{ product.color }} - {{ product.size }}</p>
        <p class="product-price">{{ product.price }} BHD</p>

        {% for s in product.stock_set.all %}
            {% if s.branch == user_branch and s.location_type == 'showroom' %}
                {% if s.quantity > 0 %}
                    <span class="badge badge-paid">✅ Available ({{ s.quantity }})</span>
                {% else %}
                    <span class="badge badge-unpaid">❌ Out of Stock</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="product-actions">
        <a href="{% url 'product_detail' product.id %}" class="view-btn"> →</a>
    </div>

</div>
{% endfor %}
</div>

{% endblock %}
