{% extends 'base.html' %}

{% block content %}
<div class="page-header">
  <div>
  <h1>Orders</h1>
  <p>Track and manage customer orders</p>
</div>
  <a  class ="add-btn" href="{% url 'order_create' %}" class='create-order'>+ Create Order</a>
</div>


  <form method="GET" action="{% url 'order_list'%}" class="search-bar">
    <input type="text" name="q" placeholder="search for Order by OrderID ..." value="{{ query }}">
    <button type="submit"><strong>Search</strong></button>
  </form>


<div class='order-table'>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Customer</th>
        <th>Total(BHD)</th>
        <th>Status</th>
        <th>Date</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders  %}
      <tr class = ''>
        <td>{{ order.order_number }}</td>
        <td>{{ order.customer.name }}</td>
        <td>{{ order.total_amount}}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.created_at|date:'Y-m-d' }}</td>
        <td>
          <a href="{% url 'order_detail' order.pk %}" class="act-btn act-view">
                <i class="bi bi-receipt"></i>
          </a>
          </td>
      </tr>
      {% empty %}
        <p>No Orders Yet</p>
      {% endfor %}
    </tbody>
  </table>

</div>



{% endblock %}
